
img {max-width: 100%;

}

/* img {max-width: 100%; faz cm q a img tenha no maximo 100% ta tela independente da tela*/
  
/* para comentar */


.galeria0{
  margin: 0px 15px;
  padding: auto
/* https://www.origamid.com/slide/html-e-css-para-iniciantes/#/0301-top-right-bottom-left/1 */

}

.galeria {
display: grid;
display:  flex;
max-width: 440px

}

.foto-1 {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

/*https://www.origamid.com/slide/html-e-css-para-iniciantes/#/0301-top-right-bottom-left/1*/

/* display: grid; depende para funcinal o grid-template-columns: 1fr 1fr 1fr */

.galeria-2{
  max-width: 15%;
  padding: 0px;

}

.galeria2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display:  flex;
    transform: translate(170%, 0%)
    
}

.galeria-3{
  margin: 0px 15px;
  padding: auto;

}

.galeria3{
  display: grid;
  display:  flex;
  max-width: 329px
}


/* .galeria1 esta div eu coloquei dentro da primeira */
.galeria1{
    display: grid;
}
/* deletei*

display:  flex;

*/
