
img {max-width: 100%;

}

/* img {max-width: 100%; faz cm q a img tenha no maximo 100% ta tela independente da tela*/
  
/* para comentar */

.galeria {
display: grid;
grid-template-columns: 1fr 1fr 1fr;

}
/* display: grid; depende para funcinal o grid-template-columns: 1fr 1fr 1fr */
.galeria2{
  display: grid;
  max-width: 25%
  
}

.galeria2{
  grid-template-columns: auto auto;
  justify-self: end;
}

.foto1{justify-self: start end;

}

.galeria3{
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  
}

